<div class="container">
  <div class="page-header">
    <h1>Report details</h1>
  </div>
  <p>
    <strong>Comment:</strong>
    <%= @report.comment %>
  </p>
  <p>
    <strong>Car mileage:</strong>
    <%= @report.car_mileage %>
  </p>
  <p>
    <%= link_to 'Back', :back, class: 'btn btn-danger'%>
  </p>
</div>